name: CI/CD Pipeline Automático

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  tag-and-docker:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create Git tag automatically
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        shell: powershell
        run: |
          docker build -t mi-app-flask:latest .
          docker images

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag Docker image
        shell: powershell
        run: |
          $TAG = '${{ steps.tag.outputs.new_tag }}'
          if ([string]::IsNullOrEmpty($TAG)) { $TAG = 'v0.0.1' }
          Write-Host "Tag generado automáticamente: $TAG"
          docker tag "mi-app-flask:latest" "$env:DOCKER_USERNAME/mi-app-flask:$TAG"

      - name: Push Docker image
        shell: powershell
        run: |
          $TAG = '${{ steps.tag.outputs.new_tag }}'
          if ([string]::IsNullOrEmpty($TAG)) { $TAG = 'v0.0.1' }
          docker push "$env:DOCKER_USERNAME/mi-app-flask:$TAG"
